<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application>
        <service
            android:name=".packages.backup.impl.LocalBackupImpl"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name=".packages.backup.impl.CloudBackupImpl"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name=".packages.restore.impl.LocalRestoreImpl"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name=".packages.restore.impl.CloudRestoreImpl"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name=".medium.backup.LocalBackupImpl"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name=".medium.backup.CloudBackupImpl"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name=".medium.restore.LocalRestoreImpl"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name=".medium.restore.CloudRestoreImpl"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
    </application>
</manifest>