[submodule "source/native/src/main/jni/external/tar/tar"]
	path = source/native/src/main/jni/external/tar/tar
	url = https://github.com/XayahSuSuSu/tar
[submodule "source-next/native/src/main/jni/external/tar/tar"]
	path = source-next/native/src/main/jni/external/tar/tar
	url = https://github.com/XayahSuSuSu/tar
[submodule "source-next/native/src/main/jni/external/zstd/zstd-jni"]
	path = source-next/native/src/main/jni/external/zstd/zstd-jni
	url = https://github.com/luben/zstd-jni
[submodule "source-next/native/src/main/jni/external/rustic/rustic_core"]
	path = source-next/native/src/main/jni/external/rustic/rustic_core
	url = https://github.com/rustic-rs/rustic_core
[submodule "source-next/.codex/skills"]
	path = source-next/.codex/skills
	url = https://github.com/android/skills
