<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Update/Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application tools:ignore="MissingApplicationIcon">
        <!-- Workaround for CrashHandler -->
        <provider
            android:name=".ui.activity.crash.CrashProvider"
            android:authorities="com.xayah.databackup.premium.CrashProvider"
            android:exported="false"
            android:initOrder="101" />
        <!-- End -->
    </application>
</manifest>