<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Update/Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DataBackupApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DataBackup"
        tools:targetApi="31">

        <service
            android:name=".service.OperationLocalServiceImpl"
            android:exported="false" />

        <!-- Workaround for CrashHandler -->
        <provider
            android:name=".ui.activity.crash.CrashProvider"
            android:authorities="com.xayah.CrashProvider"
            android:exported="false"
            android:initOrder="101" />
        <!-- End -->

        <activity
            android:name=".ui.activity.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DataBackup.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.crash.CrashActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.guide.GuideActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.main.MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.operation.OperationActivity"
            android:exported="false" />
    </application>
</manifest>