<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 应用相关 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 存储相关 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DataBackup"
        tools:targetApi="31">
        <activity
            android:name=".compose.ui.activity.guide.GuideActivity"
            android:exported="false" />
        <activity
            android:name=".compose.ui.activity.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".compose.ui.activity.list.ListActivity"
            android:exported="false" />
        <activity
            android:name=".compose.ui.activity.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".compose.ui.activity.processing.ProcessingActivity"
            android:exported="false" />
        <activity
            android:name=".compose.ui.activity.crash.CrashActivity"
            android:exported="false" />
        <activity
            android:name=".activity.list.AppListBackupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.list.AppListRestoreActivity"
            android:exported="false" />
        <activity
            android:name=".activity.screen.ScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.DataBackup.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.main.MainActivity"
            android:exported="false" />
    </application>

</manifest>