<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Update/Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:usesCleartextTraffic="true">
        <activity
            android:name="com.xayah.feature.guide.MainActivity"
            android:exported="false" />
    </application>
</manifest>