name: Bin

on:
  push:
    paths:
    - build/**
  pull_request:
    paths:
    - build/**

jobs:
  build:
    name: "Build bin"
    runs-on: ubuntu-latest
    container: registry.gitlab.com/fdroid/fdroidserver:buildserver-bookworm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: bash -e -x build/build_bin.sh all all 1> /dev/null

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Bin
          path: '**/build_bin/built_in/**/bin.zip'