name: Lint

on:
  push:
  pull_request:

jobs:
  build:
    name: "Lint"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: source

    permissions:
      contents: write

    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup gradle
        uses: gradle/gradle-build-action@v2

      - name: Setup gradlew
        run: chmod +x gradlew

      - name: Run lint
        run: ./gradlew lint test

      - name: Upload lint reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: lint-reports
          path: '**/build/reports/lint-results-*.html'
